@font-face {
    font-family: "Gilroy-Bold";
    src: url("/home_work_3/fonts/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;

}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("/home_work_3/fonts/GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("/home_work_3/fonts/GilroySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

* {
    padding: 0;
    margin: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    padding-top: 44px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    gap: 14px;
    align-items: center;
}

.header_menu {
    display: flex;
    gap: 20px;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
}

.logo_text__begin {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
}

.logo_text__end {
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
}

.header_link__home {
    color: #F25822;
    text-decoration: none;
}

.header__link {
    color: #000;
    text-decoration: none;
}

.top {
    padding-top: 48px;
    padding-bottom: 162px;
    display: flex;
    justify-content: flex-start;
}

.top_content {
    display: flex;
    flex-direction: column;
    line-height: normal;
}

.top_content__text__h3 {
    margin-bottom: 17px;
    margin-right: 40px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;


}

.top_content__text__p {
    margin-bottom: 37px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.top_content__button__start {
    padding: 15px 30px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: none;
    margin-right: 72px;
}

.top_content__button__watch {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.up_logoset {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    display: flex;
    justify-content: space-between;

}